* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

.card {
  width: 350px;
  height: 350px;
}
